@import url("main.css");

.hero_discographie {
    width: 100vw;
    height: 100vh;
    position: relative;
}

@media (orientation:landscape) {
    .hero_discographie {
        height: 56.25vw;
    }
}

picture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-turquoise);
}

source, .albumCover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.degrade_contraste {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
}

.container, .row {
    position: absolute;
    width: 100%;
    height: 100%;
}

.col-sm-8 {
    z-index: 1;
    margin-left: 40px;
    margin-bottom: 40px;
}

.title-1 {
    color: var(--orange);
    font-family: var(--sedgwick);
    margin-bottom: 10px;
}

.description {
    color: var(--yellow);
    font-family: var(--fira);
    max-width: 90%;
}

.btn-primary {
    color: var(--dark-grey);
    background-color: var(--orange);
    font-family: var(--fira);
    border: none;
}

.btn-primary:hover {
    color: var(--dark-grey);
    background-color: var(--yellow);
}

.navbar {
    background-color: black;
    width: 100vw;
    padding: 40px 20px;
    font-family: var(--sedgwick);
}

.nav-item {
    padding-top: 8px;
}

.logo {
    height: 45px;
}

footer {
    background-color: var(--turquoise);
    padding: 35px;
    margin-top: 20px;
    font-family: var(--fira);
    font-weight: bold;
    position: relative;
}

.lienGit {
    text-decoration: none;
    color: black;
}

.lienGit:hover {
    color: var(--yellow);
}

aside {
    position: relative;
}