@import url("main.css");

.hero{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
   
}
.image_hero{
    width: 100%;
    height: auto;


}



.picture_hero{
    object-fit: fill;
}

#image2{
    object-fit: fill;
    object-position: right;
}
.contrast{
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    position: absolute;
    opacity: 20%;
}
.container-fluid{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: none;
   
}
.row{
    width: 100%;
    height: 100%;
}
.colonne-1{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}
@media (orientation: landscape){
    #image2{
        display: none;
    }
    #image1{
        display: block;
    }
    .hero{
        height: 56.25%;
    }
}
@media (orientation: portrait){
    #image1{
        display: none;
    }
    #image2{
        display: block;
    }
}