@import url("main.css");
html{
    height:100%;
}
.hero{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    
   
}
.image_hero{
    width: 100%;
    height: auto;
}



.picture_hero{
    object-fit: cover;
    object-position: center;
}
#image1{
    display: block;
}
#image2{
    display: block;
    position: relative;
    z-index: -100;
}
.contrast{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: block;
    position: relative;
    opacity: 20%;
    z-index: 0;
}
.container-fluid{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
   
}
.row{
    width: 100%;
    height: 100%;
}
.colonne-1{
    width: 100%;
    height: 100%;
}
h1{
    position: relative;
    text-align: center;
    font-family: --fira;
    top: 2em;
}
.description{
    position: relative;
    text-align: center;
    top: 5em;
}
@media (orientation: landscape){
    #image2{
        display: block;
    }
    #image1{
        display: none;
        
    }
    .hero{
        height: 56.25%;
    }
}
@media (orientation: portrait){
    #image1{
        display: block;
    }
    #image2{
        display: none;
       
    }
}